:root {
    --base-color: #000000 ;
    --text-color: #ffffff;
    --primary-color: #FFc06E;
    --secondary-color: #8D8DFF;
    --color-1: #192734;
    --color-2: #212121;
    --color-3: #F6F3F9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(var(--text-color));
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    justify-content: right;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--base-color);
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

html {
    color: var(--text-color)
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-1);
}

h2 {
    font-size: 2rem;
    text-align: center;
}

section p {
    margin-top: 1em; 
    font-size: 1.25rem;
}

hr {
    display:block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}

details {
    margin-top: 1em;
    background-color: var(--color-2);
    border-radius: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.25rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

details p {
    padding: 0 2em 2em 2em;
}

details summary:hover {
    text-decoration: underline;
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color)
}

footer a:hover {
    text-decoration: underline;
}